@model Atividade_3.Models.Consulta

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes: @Html.DisplayFor(model => model.clienteConsulta)</h1>

<div>    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idConsulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.clienteConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.clienteConsulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.detalhesConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.detalhesConsulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.medicoConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.medicoConsulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precoConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precoConsulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dtConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dtConsulta)
        </dd>        
    </dl>
</div>
<div>
    <a class="text-body" href="/Consultorio/ConsultaMarcada" style="text-decoration:none">Voltar</a>
</div>