@model Atividade_3.Models.Cliente

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes: @Html.DisplayFor(model => model.nomeCliente)</h1>

<div>    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dtNascimentoCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dtNascimentoCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rgCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rgCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cpfCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cpfCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefoneCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefoneCliente)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.emailCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.emailCliente)
        </dd>       
    </dl>
</div>
<div>
    <a class="text-body" href="/Consultorio/ListaCliente" style="text-decoration:none">Voltar</a>
</div>