@model List<Cliente>
<html>
    <head>
         <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="~/css/site.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
    <body style="background-color: rgb(133, 184, 181)">
<br>
<p id="pMensagem">@ViewBag.Mensagem</p>
<a class="text-body" href="/Home/ConsultaClinica" style="text-decoration:none">Voltar</a>
<br>
<table class="content-table"> 
<thead>
<tr>
    <th>Nome</th>
    <th>Data de Nascimento</th>
    <th>CPF</th>
    <th>RG</th>
    <th>Telefone</th>
    <th>Email</th>     
</tr>
</thead>
<tbody>
    @foreach (Cliente item in Model)
    {
     <tr class="active-row">
        <td>@item.nomeCliente</td>
        <td>@item.dtNascimentoCliente</td>
        <td>@item.cpfCliente</td>
        <td>@item.rgCliente</td>
        <td>@item.telefoneCliente</td>
        <td>@item.emailCliente</td>
        <td><a href="/Consultorio/EditarCliente?idCliente=@item.idCliente" style="text-decoration:none"> Editar </a></td>
        <td><a href="/Consultorio/DetalhesCliente?idCliente=@item.idCliente" style="text-decoration:none"> Detalhes </a></td>     
        <td><a href="ExcluirCliente?idCliente=@item.idCliente" style="text-decoration:none"> Excluir </a></td>
     </tr>    
     
    }
</tbody>
</table>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>
       